<% n = 0 %>
<table>
<tr>
  <td>

  <div class="bus_seat">
    <%= n+=1 %>
    </div>

  </td>
  <td>

    <div class="bus_seat">
    <%= n+=1 %>
    </div>

  </td>
  <td></td>
  <td>

    <div class="bus_seat">
    <%= n+=1 %>
    </div>

  </td>
  <td>

    <div class="bus_seat">
    <%= n+=1 %>
    </div>

  </td>
</tr>
</table>